div(ng-if="vm.survivors", layout="column", layout-gt-sm="row", layout-align-gt-sm="center")
    .md-whiteframe-z1(layout="column", flex-gt-sm="70", layout-padding)
        label(translate="map.filter")
        div(layout-gt-sm="row")
            div(flex-gt-sm="50")
                md-checkbox(ng-model="vm.filters.nonInfected")
                    span(translate="map.showNonInfected")

            div(flex-gt-sm="50")
                md-checkbox(ng-model="vm.filters.infected")
                    span(translate="map.showInfected")
        md-divider
        br
        ng-map(center="current-location", zoom="12", geo-fallback-center="-16.6862, -49.2648")
            marker(ng-repeat="survivor in vm.survivors", ng-if="!survivor.infected && vm.filters.nonInfected",
                position="{{survivor.lastLocation.latitude}}, {{survivor.lastLocation.longitude}}",
                icon="{url:'images/green-marker.png', scaledSize:[25,40]}",
                data="{{survivor}}",
                on-click="vm.showSurvivor(survivor)")
            marker(ng-repeat="survivor in vm.survivors", ng-if="survivor.infected && vm.filters.infected",
                position="{{survivor.lastLocation.latitude}}, {{survivor.lastLocation.longitude}}",
                icon="{url:'images/red-marker.png', scaledSize:[25,40]}",
                data="{{survivor}}",
                on-click="vm.showSurvivor()")